/**
 * caa.css
 *
 * CAA theme.
 *
 * $Id$
 */

body {
	background-color: #ffffff;
    }
body, input, textarea {
    color: #333;
    line-height: 18px;
    font-family: "Century Gothic", "Bitstream Charter", serif;
    }

a:link {
	color: #000000;
}


a:active {
	color: #000000;
}

a:visited {
	color: #808080;
}

a:hover {
	color: red;
	background: #ffffff;
}

input.textField, select.selectMenu, textarea.textArea, input.uploadField {
	background-color: #eeeeee;
}

input.defaultButton {
	background-color: #000000;
	color: #ffffff;
}

#header {
    padding-top: 20px;
	background-color: #ffffff;
}

#headerTitle {
	color: #000000;
}

#main h1,
#main h2,
#main h3,
h1, h2, h3,
#content h1,
#content h2,
#content h3 {
	font-family: "Century Gothic", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    color: black;
    line-height: 1.5em;
    margin: 0;
    padding-top: 10px;
    }
#content h2,
#content h3 {
    font-size: 1.5em;
    }
#main {
	font-family: "Century Gothic", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    overflow: hidden;
    padding: 0;
    border-left: 5px solid #6D6E72;

    }
#main > h2 {
	color: #000;
	font-size: 21px;
	background: #efefef url(images/entry-title-bg.png) right no-repeat;
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 5px;
	padding-right: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 25px;
	display: inline;
	clear:both;
    }
/* content text size */
#content,
table {
    font-size: 14px; /* originally 12 */
    }

#content {
    border: none;
    margin-left:25px;
    }
#navbar {
	margin: 0 auto;
	background: #6d6e72;
	display: block;
	float: left;
	margin: 0 auto 0 auto;
	width: 100%;
    padding: 0;
    border: none;
    }
#navbar ul,
ul.menu ul {
	list-style: none;
	margin: 0;
	padding:0;
    }
ul.menu li {
	padding: 0;
    }
#navbar > ul > li {
    border-right: 5px solid white
    }


#breadcrumb {
    padding: 5px 0 10px 0;
    clear:both;
    font-size: 0.9em;
    margin-left: 25px;
    }
#breadcrumb a:hover {
    color: #666;
    }

#content h3 {
	font-family: "Century Gothic", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    }
#content h4 {
	font-family: "Century Gothic", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    }
#navbar ul.menu li {
    float: left;
	position: relative;
    }
#navbar ul.menu a {
	color: #fff;
	display: block;
	line-height: 38px;
	padding: 0 10px;
	text-decoration: none;
	font-size: 0.9em;
    }
#navbar li:hover > a {
	background: #eef0ef;
	color: #000;
    }
ul.menu a {
    text-transform: capitalize;
    }

#content h4 {
    background: url(images/hr.jpg) left top no-repeat;
    padding-top: 20px;
    }
#content h4:first-child {
    background: none;
    padding-top: inherit;
    }

/* Top navi */
.access-top {
    padding: 0.5em 0 0.25em 10%;
    clear: both;
    display:block;
    }
.access-top ul {
	list-style: none;
	margin: 0;
    }
.access-top ul li {
	position: relative;
	margin: 15px 10px 10px 10px;
    }
.access-top ul li a {
	color: #babbbf;
	font-size:14px;
	font-weight: bold;
    }
.access-top ul li a:hover {
	border-bottom: 2px solid #ee688d;
    }
.access-top ul li.menu-active a {
    color: #666;
	border-bottom: 5px solid #ee688d;
    }

/* Action button */
div#content>div#cfp .action {
	background: #f26790;
	margin-top: 20px;
	color: #fff;
	padding:20px;
	display:block;
	width: 300px;
	text-align:center;
	border: 2px solid #f26790;
}
div#content>div#cfp a:link.action,
div#content>div#cfp a:visited.action {
	color: #fff;
	text-decoration: none;
}
div#content>div#cfp a:hover.action {
	background: #f26790;
	border:2px dotted #fff;
}

