/**
 * common.css
 *
 * Copyright (c) 2000-2012 John Willinsky
 * Distributed under the GNU GPL v2. For full terms see the file docs/COPYING.
 *
 * Site-wide shared stylesheet.
 *
 * $Id:
 */

/**
 * Common HTML elements
 */

a:link {
	color: #335;
}

a:active {
	color: #253;
}

a:visited {
	color: #335;
}

a:hover {
	color: #253;
	background: #CDC;
}


/**
 * Main layout elements
 */

#header {
	background-color: #CAA;
}

#footer {
	background-color: #CAA;
}

#main {
	width: 80%;
	margin: 0 auto;
}


/**
 * Navigation bar
 */

#navbar a {
	font-size: 0.65em;
	letter-spacing: 0.05em;
}


/**
 * Announcements
 */

#announcementsHome {
	width: 100%;
	margin: 2em 0 2em 0;	
}

#announcementsHome h3 {
	text-align: center;
}

#announcements {
	width: 100%;
}

#announcements h3 {
	text-align: center;
}

table.announcements {
	width: 100%;
}

table.announcements td {
	padding: 0.25em 0.5em 0.25em 0.5em;
}

table.announcements td.nodata {
	text-align: center;
	font-style: italic;
}

table.announcements td.headseparator {
	border-top: 1px dotted #000;
	font-size: 0.1em;
	line-height: 1%;
}

table.announcements td.endseparator {
	border-top: 1px dotted #000;
	font-size: 0.25em;
	line-height: 10%;
}

table.announcements td.separator {
	border-top: 1px dotted #DDDDD0;
	font-size: 0.1em;
	line-height: 1%;
}

table.announcements tr.intro {
}

table.announcements td.intro {
}

table.announcements tr.title {
	vertical-align: top; 
}

table.announcements td.title {
	width: 85%;
}

table.announcements td.title h4 {
}

table.announcements tr.description {
	vertical-align: top;
}

table.announcements td.description {
	width: 85%;
}

table.announcements tr.details {
	vertical-align: bottom;
}

table.announcements td.posted {
	padding-top: 1em;
	font-style: italic;
}

table.announcements td.more {
	width: 15%;
	text-align: right;
}

table.announcementsMore {
	width: 100%;
}

table.announcementsMore td {
	padding-top: 1.5em;
	text-align: right;
}


/**
 * Homepage image
 */

#homepageImage img {
	display: block;
	margin: 0 auto;
	border: 0;
	text-align: center;
}


/**
 * Organizing Team Lists
 */

ol.organizingTeam {
}

ol.organizingTeam li {
	list-style: none;
}

ol.organizingTeam, ol.organizingTeam li {
	margin-left: 0;
	padding-left: 0;
}


/**
 * Additional text styles
 */

pre {
	background-color: #F0F0E8;
	color: #000;
	font-size: 1.25em;
}

/**
 * Table styles
 */

table.listing {
	border-collapse: collapse;
}

table.listing tr.data td {
	border-top: 1px dotted #DDDDD0;
	border-bottom: 1px dotted #DDDDD0;
}

table.listing tr.data td.drag {
	cursor: move;
}


/**
 * Other organizational elements
 */


/**
 * Drag and drop styles
 */
.draggable {
	position: relative;
	cursor: move;
}

.borderBox {
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	margin: 2px;
	padding: 2px;
}

.floatLeft {
	float: left;
}

/**
 * Scheduler styles
 */
.scrollContainer {
	overflow: auto;
}

.scheduleTable {
	min-width: 100%;
}

.schedulerEvent {
	color: #880000;
	background-color: #FBFBF3;
}

.schedulerPresentation {
	color: #008800;
	background-color: #FBFBF3;
}

.schedulerEventHeader {
	color: #FBFBF3;
	background-color: #880000;
}

.schedulerPresentationHeader {
	color: #FBFBF3;
	background-color: #008800;
}


td.hole {
	background-color: #777777;
}

td.timeRowLabel {
	border-style: solid none none none;
	border-width: 1px;
}

.droppable {
}

td.notificationContent {
	padding-left: 5px;
	padding-right: 5px;
}

td.notificationFunction {
	padding-left: 5px;
	padding-right: 5px;
	text-align: right;
}

/* @group Font Sizer */

.smallFont {
	outline: none; /*for making it look nice in FF */
	background: url(../lib/pkp/templates/images/icons/font-down.png);
	text-indent: -9999px;
	display: block;
	float: left;
	width: 20px;
	height: 23px;
	margin-right: 4px;
	margin-left: 8px;
}

a.smallFont:hover {
	background: url(../lib/pkp/templates/images/icons/font-down.png);
	color: none;
}

.defaultFont {
	/*if you want to hide the default font button, use display:none */
	background: url(../lib/pkp/templates/images/icons/font-default.png);
	text-indent: -9999px;
	outline: none;
	display: block;
	float: left;
	width: 20px;
	height: 23px;
	margin-right: 4px;

}

a.defaultFont:hover {
	background: url(../lib/pkp/templates/images/icons/font-default.png);
	color: none;
}

.largeFont {
	background: url(../lib/pkp/templates/images/icons/font-up.png);
	outline: none;
	text-indent: -9999px;
	display: block;
	float: left;
	width: 20px;
	height: 23px;
}

a.largeFont:hover {
	background: url(../lib/pkp/templates/images/icons/font-up.png);
	color: none;
}

/* Second leve Menu */
#content ul.menu li {
    margin-left:10px;
}

/* Lets hide dates, if prices are not defined for conference options */
#registrationOptionData-17,
#registrationOptionData-13,
#registrationOptionData-19,
#registrationOptionPrice-5,
#registrationOptionPrice-18,
#registrationOptionPrice-11,
#registrationOptionPrice-12,
#registrationOptionPrice-14,
#registrationOptionPrice-15,
#registrationOptionPrice-16,
#registrationOptionPrice-20,
#registrationOptionPrice-21
{
  display:none;
}
/*
LETS HIDE fees for volunteers
*/
#regType-38,
#regType-39,
#regType-40,
#regType-7,
#regType-8
{
  display:none;
  visibility:hidden;
}
